# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Data (ignored by default)
data/*

# Keep data contracts / folder structure
!data/boundaries/
!data/boundaries/.gitkeep
outputs/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db